* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.my-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0px;
}

.my-container ul {
  font-size: 1.2em;
}

.my-container li {
  transition: 0.4s ease;
}

.my-container li:hover {
  font-size: 1.5em;
}

.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  display: block;
  margin: 0.5em 0em;
}
